*{
	margin: 0;
	padding: 0;
}

body, fieldset, #result{
	padding: 10px;
}

/* --- стили отображения таблиц результатов --- */
table, tr, td{
	border: 1px solid grey;
}

td{
	padding: 5px;
}
	
td + td{
	text-align: center;
}
/* --- --- */

/* --- стили формы исходных данных --- */	
form div {
	float: left;
	padding: 0px 10px;		
}

form div *{
	display: block;
}

legend {
	padding: 0px 10px; 
}

option{
	min-width: 50px;
}

button{
	width: 80px;
	height: 50px;
}
/* --- --- */

/* --- стили печати --- */
@media print {
	button{
		display: none;
	}
	form *{
		border: none;
	}
}
/* --- --- */